<h1>User Recipes</h1>

<h2>Display User Recipes</h2>

<ul>
    {{#each dbDrinks}}

    <li>
        <span>
            {{name}}
            <ul>
                <li><span>{{ingredient1}}</span></li>
                <li><span>{{ingredient2}}</span></li>
                <li><span>{{ingredient3}}</span></li>
                <li><span>{{ingredient4}}</span></li>
            </ul>
        </span>


    </li>

    {{/each}}
</ul>


<button type="submit" class="btn btn-success submit" id="addDrink">Add Drink</button>



<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h3>Add A drink </h3>
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <form>
                <label for="recipeName">Recipe Name</label>
                <input placeholder="Recipe Name" type="text" class="form-control" id="recipeName">
                <br />

                <input placeholder="Ingredient 1" type="text" class="form-control" id="ingredient1">
                <input placeholder="Ingredient 1 Measurement" type="text" class="form-control" id="ingr_measure1">
                <input placeholder="Ingredient 2" type="text" class="form-control" id="ingredient2">
                <input placeholder="Ingredient 2 Measurement" type="text" class="form-control" id="ingr_measure2">
                <input placeholder="Ingredient 3" type="text" class="form-control" id="ingredient3">
                <input placeholder="Ingredient 3 Measurement" type="text" class="form-control" id="ingr_measure3">
                <input placeholder="Ingredient 4" type="text" class="form-control" id="ingredient4">
                <input placeholder="Ingredient 4 Measurement" type="text" class="form-control" id="ingr_measure4">
                <input placeholder="Ingredient 5" type="text" class="form-control" id="ingredient5">
                <input placeholder="Ingredient 5 Measurement" type="text" class="form-control" id="ingr_measure5">
                <button type="submit" class="btn btn-success submit" id="recipeCreate">Submit</button>
            </form>
        </div>
        <div class="modal-footer"></div>

    </div>

</div>


